<div class="back">
  <header>
    <div class="header">
      <a href="https://www.linkedin.com/in/victor-muniz-236842267/" target="_blank" class="fa-brands fa-linkedin"></a>
      <div class="title">
        <h1>JSON to CSV</h1>
        <h2>Converter</h2>
      </div>
      <a href="https://github.com/VictorMuniz7" target="_blank" class="fa-brands fa-github"></a>
    </div>
  </header>
  <div class="container">
    <div class="json-div">
      <p>Insert your JSON here</p>
      <textarea id="json-box" cols="65" rows="25" [(ngModel)]="jsonContent" (keyup)="validation()"></textarea>
    </div>
    <div class="options">
      <button id="convertBtn" (click)="convert()"><p>Convert</p><i class="fa-solid fa-arrow-right"></i></button>
      <div class="warning-div">
        <p [hidden]="invalidJson">Enter a valid JSON</p>
      </div>
      <button id="downloadBtn" (click)="downloadCSV()">Download CSV</button>
      <button id="copyBtn" (click)="copyCSV(csv.value)">Copy CSV</button>
      <button id="clearBtn" (click)="clearAll()">Clear All</button>
    </div>
    <div class="csv-div">
      <div class="credits">
        <p>Here is your CSV</p>
        <p id="credit">Based on code posted here on <a href="https://stackoverflow.com/questions/4130849/convert-json-format-to-csv-format-for-ms-excel/4130939#4130939" target="_blank">StackOverflow</a></p>
      </div>
      <textarea id="csv-box" cols="65" rows="25" #csv [(ngModel)]="csvContent"></textarea>
    </div>
  </div>

</div>
